// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$at_dark-blue: #024959;
$at_blue: #027373;
$at_yellow: #F2B705;
$at_orange: #F29F05;
$at_salmon: #F2B999;
$at_grey: #E6E6E6;
