// Specific CSS for your home-page
// body {
//   background-color: #FFC65A;
// }


.main {
  padding-top: 80px;
  font-family: 'Noto Sans TC', ;
}

 h2{
   font-family: 'Noto Sans TC', ;
}

h1 {
  font-family: 'Noto Sans TC', ;
}

h3 {
  font-family: 'Noto Sans TC', ;
}

h5 {
  font-family: 'Noto Sans TC', ;
}
p {
  font-family: 'Noto Sans TC', ;
}
.card {
   font-family: 'Noto Sans TC', ;
}
