
.avatar-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 2px 15px;
}

.button-profile{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 2px 15px;
}
