

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dsgxgstvy/image/upload/v1582638749/igor-miske-oLhTLD-RBsc-unsplash_p30ju4.jpg);">
  <div class="container">
    <h1>Art has never been so easy</h1>
    <p>Rent Art for your home, office, or event. Search 1000's of art pieces near you today</p>
    <button class="find-art">Find Art</button>
  </div>
</div>
<div class="container art-cards">
  <div class="row justify-content-center">
    <% @arts.each do |art| %>
    <div class="col-4">
      <div class="card">
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= art.name %></h4>
          <p class="card-text"><%= art.artist %>, <%= art.price %> $</p>
          <%= link_to 'See Art', art_path(art), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
