<div class="container" style="padding-bottom: 120px">
  <div class="row">
    <% @arts.each do |art| %>
      <div class="col-6 padding-small" >
        <div class="card-product" style="border: 1px grey">
          <div class="card-picture">
            <img class="card-product" src="https://images.artnet.com/aoa_lot_images/129903/keith-haring-untitled-from-pop-shop-ii-prints-and-multiples.jpg" />
          </div>
          <div class="card-product-infos">
              <div class="card-texts">
                <p><%= art.artist %></p>
                <p style="font-style: italic;"><%= art.name %></p>
                <p><strong>Rent from <%= art.price %>$/month</strong></p>
              </div>
            <button type="button" class="btn btn-warning">See Rental Options</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
