
<div class="container art-cards">
  <div class="row justify-content-center">
    <% @arts.each do |art| %>
    <div class="col-4">
      <div class="art-card" style="border: 1px solid black">
        <p>Name: <%= art.name %></p>
        <p>Price: <%= art.price %> $</p>
        <p>Artist: <%= art.artist %></p>
        <%= link_to 'See Art', art_path(art) %>
      </div>
    </div>
    <% end %>
  </div>
</div>
