.from-create-art {
  width: 750px;
  margin-left: 50px;

}

.from-create-art h1 {
  color: #167FFB;
  text-align: center;
  padding: 20px 0px;
  font-weight: bold;
  font-size: 40px;
  background-color: #027373;
  color: white;
  border-radius: 5px;

}
.button-create {
  border-radius: 30px;
  font-size: 34px;
  font-weight: bold;
  background-color: #F29F05;
  color: white;
  border: 0px;
  padding: 10px 100px;
  text-align: right;
  margin-bottom: 20px;
  text-align: right;
}

.name {
  font-weight: bold;
}

label {
  font-weight: bold;
  color: #167FFB;
}

.form-control {
  border-radius: 10px;
}

select {
  margin: 10px;
  margin: 0px 0px 10px 0px;
}
