.navbar-lewagon {
  justify-content: space-between;
  background: #E67E22;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {

}

.logo {
  margin-top: 15px;
}

.avatar {
  width: 60px;
  border-radius: 50%;
}

}

.dropdown-menu a {
  color: white;
  font-weight: bold;
}

.dropdown-menu a:hover {
  background-color: transparent;
  color: rgb(220, 220, 220)
}

.nav-item {
  padding-right: 15px;
}
