.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.all {
  position: relative;
  position: fixed;
  z-index: 10;
}

.navbar {
  position: relative;
  display: flex;
  background-color: transparent;
  z-index: 5;
  transition: all 1s ease;
  align-items: flex-end;
  position: fixed;
  width: 100%;
  height: 80px;
  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .links > * {
    margin-right: 50px;
  }
}

.art-cards {
  position: relative;
  top: 150px;
}

.black {
  background-color: #E67E22;
}

h1 {
  color: blue;
  size: 30px;
}

.avatar {
  border-radius: 50%;
}

.words {
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  font-size: 16px;
  transition: all .3s ease;
}

.words:hover {
  text-decoration: none;
  transform: scale(1.1);
  color: white;
}

.art-dropdown {
  position: absolute;
  top: 77px;
  right: -180px;
  left: 1156px;
  width: 122px;
  display: none;
  * {
    margin-top: 10px;
  }
}

.art-flex {
  display: flex;
  flex-direction: column;
}

