.div-reviews {
  margin: 0px auto;
  width: 100%;
  height: 300px;
  overflow: scroll;
}

.review-block {
  overflow-wrap: break-word;
}

.art-show {
  background: white;
  padding: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid $at_grey;
}

h1 {
color: $at_orange;
font-weight: bold;
font-family: 'Poppins', ;
}

h2 {
color: $at_blue;
font-family: 'Poppins', ;
}

.button-show {
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  background-color: orange;
  color: white;
  border: 0px;
  padding-top: 10px 0px;
  text-align: center;
}

#go-back-show{
  float: right;

}

.overview {
  padding: 10px 0;
}

.description {
  height: 300px;
  overflow: scroll;
  overflow-wrap: break-word;
}
